$box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 6px rgba(0, 0, 0, 0.15);

.MessagesPane {
  width: 444px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    height: 56px;
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
    padding: 15px;
  }

  .header-right {
    display: flex;
    justify-self: flex-end;
    align-content: center;
    cursor: pointer;
  }

  .body {
    flex: 1;
    overflow: scroll;
  }

  .body-content {
    display: flex;
    flex-direction: column;
    padding: 20px;

    & > :not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .picture {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f0ff;
    color: #006aff;
    font-weight: bold;
    margin-right: 10px;
    line-height: 0;
  }

  .row-user {
    align-self: flex-end;
  }

  .row-other {
    align-self: flex-start;
    display: flex;
  }

  .row-suggestion {
    border-right: 3px solid #e5f0ff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .row-suggestion-heading {
    color: gray;
    margin-bottom: 8px;
    text-align: right;
    font-size: 12px;
    margin-right: 8px;
  }

  .row-suggestion-links {
    display: flex;
    width: 400px;
    overflow-x: auto;

    & > * {
      margin-right: 8px;
    }
  }

  .utterance-user {
    background-color: #006aff;
    max-width: 300px;
    color: white;
    padding: 10px 15px;
    border-radius: 22px;
    line-height: 1.5;
    white-space: pre-wrap;
  }

  .utterance-other {
    background-color: rgba(0, 0, 0, 0.03);
    max-width: 300px;
    color: black;
    padding: 10px 15px;
    border-radius: 22px;
    line-height: 1.5;
    white-space: pre-wrap;
  }

  .utterance-suggestion {
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
    margin-right: 8px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .utterance-suggestion-content {
    background-color: white;
    border: 1px solid #006aff;
    color: black;
    padding: 10px 15px;
    border-radius: 22px;
    line-height: 1.5;
    color: #006aff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;

    &:hover {
      background-color: #006aff;
      color: white;

      .svg-fill {
        fill: white;
      }

      .svg-stroke {
        stroke: white;
      }
    }
  }

  .utterance-suggestion-content-action {
    max-height: 44px;
  }

  .underline {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  .input-container {
    padding: 15px;
    border-top: 1px solid lightgray;
  }

  .input {
    border: 0;
    outline: 0;
    width: 100%;
  }

  .suggestion-container {
    border-top: 1px solid #006aff;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .suggestion-header {
    color: #006aff;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    & > :first-child {
      margin-right: 5px;
    }
  }

  .suggestion-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    .button {
      background-color: #006aff;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .suggestion-icon {
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
  }
}
